# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b9a39b7a3e583ffa01d70b90cb82ebaec32a7b5efb396c8c26f947f404e4677bd2b021107d2d24e7c72a43da6c65b0911c3a121145fdecf1fb707df6fc10095e

test:
  secret_key_base: f36ef8f98eb721e527007d9f8f7729b4d83b0f97a905e65a86fdf258fa1dc8239f633e44babfcdf7b5bf6e10d8a7e483c8498c3b8b596ee437e2452c5ffe99ed

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
